//============================================
// サイト幅でセンタリング
//============================================
@mixin center{
	width: $baseWidth;
	margin: 0 auto;
}

//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}