$body-color-text: #8f99a3;
$cl-layout: #f9bb22;
$cl-title: #111;
$cl-default: #fff;
$bg-allpage: #000;
$body-color-bg: #111;
$bg-nav: #1a1a1a;

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Roboto-Medium.ttf), url(../fonts/Roboto-Regular.ttf), url(../fonts/Roboto-Bold.ttf);
}