<footer class="footer">
    <div class="footer__link">
        <ul class="footer__logo">
            <li>
                <img class="img" src="../images/common/logo.png" alt="">
                <p>Sòng bạc trực tuyến tốt nhất Việt Nam</p>
                <p><span>18+ </span>Be Responsible</p>
            </li>
        </ul>
    <div class="footer__category">
        <h3 class="c-title1">Menu</h3>
        <ul>
            <li><a [routerLink]="">Online Casino Games</a></li>
        </ul>
    </div>
    <div class="footer__quicklink">
        <h3 class="c-title1">QUICK LINKS</h3>
        <ul>
            <li><a routerLink="/about-us">About</a></li>
            <li><a routerLink="/faq">Faq</a></li>
            <li><a routerLink="/term-conditions">Term</a></li>
            <li><a routerLink="/privacy-policy">Policy</a></li>
            <li><a routerLink="/game-rules">Game rules</a></li>
        </ul>
    </div>
    <div class="footer__touch">
        <h3 class="c-title1">Liên hệ</h3>
        <ul>
            <li><a class="fb" routerLink=""><i class="fa fa-facebook"></i></a></li>
            <li><a class="ins" routerLink=""><i class="fa fa-instagram"></i></a></li>
            <li><a class="twi" routerLink=""><i class="fa fa-twitter"></i></a></li>
            <li><a class="ybe" routerLink=""><i class="fa fa-youtube"></i></a></li>
            <li><a class="eve" routerLink=""><i class="fa fa-envelope"></i></a></li>
        </ul>
    </div>
  </div>
  <div class="footer__slide">
    <h2>Nhà cung cấp trò chơi trực tuyến hàng đầu việt nam</h2>
  </div>
  <div class="footer__banks">
        <div class="footer__payment">
            <div class="footer__bank">
                <h3>PHƯƠNG THỨC THANH TOÁN</h3>
                <ul class="bankFt">
                    <li><img src="../images/common/logo-agribank.png" alt=""></li>
                    <li><img src="../images/common/logo-donga.png" alt=""></li>
                    <li><img src="../images/common/logo-sacom.png" alt=""></li>
                    <li><img src="../images/common/logo-techcom-2.png" alt=""></li>
                    <li><img src="../images/common/logo-vietcombank.png" alt=""></li>
                    <li><img src="../images/common/logo-vietin.png" alt=""></li>
                    <li><img src="../images/common/Exim-Bank.png" alt=""></li>
                </ul>
            </div>
            <ul class="appFt">
                <li><a routerLink=""><img src="../images/common/ios.svg" alt=""></a></li>
                <li><a routerLink=""><img src="../images/common/android.svg" alt=""></a></li>
            </ul>
        </div>
  </div>

    <div class="copyright">
        <small>© 2019 JeetWin. All Rights Reserved.</small>
    </div>
</footer>