<header class="c-header">
    <h1 class="c-header__title"><a routerLink="/"><img src="../images/common/logo.png" alt=""></a></h1>
    <div class="c-header__login">
        <div class="c-header__user">
            <input class="c-header__user-input" type="text" id="user" placeholder="Tên đăng nhập">
            <label class="c-header__checkbox">
                <input type="checkbox" id="checkbox">Ghi nhớ đăng nhập !
                <span class="checkmark"></span>
            </label>
        </div>
            <div class="c-header__user">
            <input class="c-header__user-input" type="password" id="password" placeholder="Mật khẩu">
            <div class="c-header__user-pw"><a routerLink="">Quên mật khẩu ?</a></div>
        </div>
        <div class="c-header__submit">
            <button class="btn-submit" type="submit">Đăng nhập</button>
            <button class="btn-submit join" type="submit">Vào ngay</button>
        </div>
    </div>
</header>
